<!--
模板文件列表页 (Template File List)
============================================================

【页面说明】
显示模板目录下的所有文件和子目录列表，支持目录层级导航。
提供模板文件的浏览、编辑和删除功能。

【控制器方法】
Template::index() - application/admin/controller/Template.php

【访问路径】
GET admin.php/template/index?path=xxx    获取目录列表
GET admin.php/template/index?current=1   跳转到当前模板目录
GET admin.php/template/index?label=1     跳转到标签目录
GET admin.php/template/index?ads=1       跳转到广告目录

【模板变量】
$curpath   - 当前目录路径 (@ 分隔符格式)
$uppath    - 上级目录路径
$ischild   - 是否是子目录 (1=是, 0=否)
$files     - 文件列表数组，包含：
             - isfile : 是否为文件 (1=文件, 0=目录)
             - name   : 文件/目录名
             - path   : 路径
             - fullname : 完整路径
             - size   : 文件大小 (仅文件)
             - note   : 类型描述
             - time   : 修改时间
$num_path  - 目录数量
$num_file  - 文件数量
$sum_size  - 总文件大小

【表格字段说明】
┌──────────────────┬─────────────────────────────────────────┐
│ 字段名            │ 说明                                     │
├──────────────────┼─────────────────────────────────────────┤
│ file_name        │ 文件名/目录名                            │
│ file_des         │ 类型描述（文件/目录）                     │
│ file_size        │ 文件大小                                 │
│ file_time        │ 修改时间                                 │
│ opt              │ 操作按钮（编辑/删除）                     │
└──────────────────┴─────────────────────────────────────────┘

【JS功能】
- data_info(path, name) : 打开文件编辑弹窗
- data_del(id)          : 删除文件确认

============================================================
-->

<!-- 引入公共头部 -->
{include file="../../../application/admin/view_new/public/head" /}
<div class="page-container p10">
    <div class="my-btn-box lh30" >
        <div class="flex gap-5 overflow-x-auto overflow-y-hidden">
            <a data-full="1" data-href="{:url('info')}?fpath={$curpath}&fname=" class="layui-btn layui-btn-primary j-iframe"><i class="layui-icon">&#xe654;</i>{:lang('add')}</a>
        </div>
        <div class="page-filter fr" >

        </div>
    </div>

    <form class="layui-form layui-form-pane" action="">
        <table class="layui-table mt10">
        <thead>
        <tr>
            <th>{:lang('file_name')}</th>
            <th width="200">{:lang('file_des')}</th>
            <th width="200">{:lang('file_size')}</th>
            <th width="200">{:lang('file_time')}</th>
            <th width="100">{:lang('opt')}</th>
        </tr>
        </thead>

        {if condition="$ischild eq 1"}
        <tr><td colspan="4"><a href="{:url('template/index',['path'=>$uppath])}">...{:lang('return_parent_dir')}</a></td></tr>
        {/if}

            {volist name="files" id="vo"}
            <tr>
                {if condition="$vo.isfile eq 1"}
                <th>{$vo.name}</a></th>
                <td>{$vo.note}</td>
                <td>{$vo.size}</td>
                <td>{$vo.time|mac_day='color'}</td>
                <td>
                    <a class="layui-badge-rim j-iframe" data-full="1" data-href="{:url('info')}?fpath={$vo.path}&fname={$vo.name}" href="javascript:;" title="{:lang('edit')}">{:lang('edit')}</a>
                    <a class="layui-badge-rim j-tr-del" data-href="{:url('del')}?fname={$vo.fullname}" href="javascript:;" title="{:lang('del')}">{:lang('del')}</a>
                </td>
                {else}
                <th><a href="{:url('template/index',['path'=>$vo.path])}">{$vo.name}</a></th>
                <td>{$vo.note}</td>
                <td></td>
                <td>{$vo.time|mac_day='color'}</td>
                <td></td>
                {/if}
            </tr>
            {/volist}
        </tbody>
        <tfoot>
            <tr><td colspan="5">{:lang('admin/template/current_dir')}：{$curpath|str_replace='@','/',###}，{:lang('sum')}<b class="red">{$num_path}</b>{:lang('dir')},<b class="red">{$num_file}</b>{:lang('file')},{:lang('occupies')}<b class="red">{$sum_size}</b>{:lang('space')}</td></tr>
        </tfoot>
    </table>
    </form>
</div>
{include file="../../../application/admin/view_new/public/foot" /}
<script type="text/javascript">
    function data_info(path,name)
    {
        var index = layer.open({
            type: 2,
            shade:0.4,
            title: "{:lang('edit')}",
            content: "{:url('template/info')}?fpath="+path+'&fname='+name
        });

        layer.full(index);
    }

    function data_del(id)
    {
        if(!id){
            id  = checkIds('fname[]');
        }
        layer.confirm("{:lang('del_confirm')}", function (index) {
            location.href = "{:url('template/del')}?fname=" + id;
        });
    }

    $(function(){

    });
</script>
</body>
</html>