<!--
会员组列表页面 (Group List View)
============================================================

【页面说明】
后台 "用户 → 会员组" 的列表页面
显示所有会员组，支持添加、编辑、删除和状态切换

【控制器方法】
Group::index() - application/admin/controller/Group.php

【访问路径】
GET admin.php/group/index

【模板变量】
$list  - 会员组列表数组 (以group_id为键)

【列表字段】
┌──────────────────┬─────────────────────────────────────────┐
│ 字段名            │ 说明                                     │
├──────────────────┼─────────────────────────────────────────┤
│ group_id         │ 编号 (ID<=2为系统内置组,不可删除)         │
│ group_name       │ 会员组名称                               │
│ group_status     │ 状态 (开关控制,仅ID>2可操作)             │
│ group_points_day │ 包天积分                                 │
│ group_points_week│ 包周积分                                 │
│ group_points_month│ 包月积分                                │
│ group_points_year│ 包年积分                                 │
└──────────────────┴─────────────────────────────────────────┘

【业务规则】
- ID为1(游客)和2(默认会员)为系统内置组
- 内置组不显示复选框，不可删除
- 内置组状态开关不显示
- 所有组均可编辑

【JS功能】
- 状态开关: switchStatus 过滤器控制状态切换

============================================================
-->
{include file="../../../application/admin/view/public/head" /}
<div class="page-container p10">

    <div class="my-toolbar-box">

        <div class="layui-btn-group">
            <a data-href="{:url('info')}" class="layui-btn layui-btn-primary j-iframe"><i class="layui-icon">&#xe654;</i>{:lang('add')}</a>
            <a data-href="{:url('del')}" class="layui-btn layui-btn-primary j-page-btns confirm"><i class="layui-icon">&#xe640;</i>{:lang('del')}</a>
        </div>

    </div>

    <form class="layui-form " method="post" id="pageListForm">
        <table class="layui-table" lay-size="sm">
            <thead>
            <tr>
                <th width="25"><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
                <th width="100">{:lang('id')}</th>
                <th >{:lang('name')}</th>
                <th width="100">{:lang('status')}</th>
                <th width="100">{:lang('admin/group/pack_day')}</th>
                <th width="100">{:lang('admin/group/pack_week')}</th>
                <th width="100">{:lang('admin/group/pack_month')}</th>
                <th width="100">{:lang('admin/group/pack_year')}</th>
                <th width="100">{:lang('opt')}</th>
            </tr>
            </thead>

            {volist name="list" id="vo"}
            <tr>
                <td>
                    {if condition="$vo['group_id'] gt 2"}
                    <input type="checkbox" name="ids[]" value="{$vo.group_id}" class="layui-checkbox checkbox-ids" lay-skin="primary">
                    {/if}
                </td>
                <td>{$vo.group_id}</td>
                <td>{$vo.group_name|htmlspecialchars}</td>
                <td>
                    {if condition="$vo['group_id'] gt 2"}
                    <input type="checkbox" name="status" {if condition="$vo['group_status'] eq 1"}checked{/if} value="{$vo['group_status']}" lay-skin="switch" lay-filter="switchStatus" lay-text="{:lang('open')}|{:lang('close')}" data-href="{:url('field?col=group_status&ids='.$vo['group_id'])}">
                    {/if}
                </td>
                <td>{$vo.group_points_day}</td>
                <td>{$vo.group_points_week}</td>
                <td>{$vo.group_points_month}</td>
                <td>{$vo.group_points_year}</td>
                <td>
                    <a class="layui-badge-rim j-iframe" data-href="{:url('info?id='.$vo['group_id'])}" href="javascript:;" title="{:lang('edit')}">{:lang('edit')}</a>
                    {if condition="$vo['group_id'] gt 2"}
                    <a class="layui-badge-rim j-tr-del" data-href="{:url('del?ids='.$vo['group_id'])}" href="javascript:;" title="{:lang('del')}">{:lang('del')}</a>
                    {/if}
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>

    </form>

    <blockquote class="layui-elem-quote layui-quote-nm">
        {:lang('admin/group/help_tip')}
    </blockquote>
</div>

{include file="../../../application/admin/view/public/foot" /}

<script type="text/javascript">

    layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage
                , layer = layui.layer;


    });
</script>
</body>
</html>