{include file="../../../application/admin/view/app/head" /}
<div class="page-content">
<div class="main-wrapper">
<div class="row">
<div class="my-toolbar-box p10" >
<div class="center mb10">
</div>
<div class="layui-btn-group">
<a data-full="1" data-href="{:url('ad_info')}" class="layui-btn layui-btn-primary j-iframe"><i class="layui-icon">&#xe654;</i>添加</a>
<a data-href="{:url('ad_del')}" class="layui-btn layui-btn-primary j-page-btns confirm"><i class="layui-icon">&#xe640;</i>删除</a>
</div>
</div>
<form class="layui-form p10" method="post" id="pageListForm">
<table class="layui-table" lay-size="sm">
<thead>
<tr>
<th width="25"><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
<th width="40">编号</th>
<th width="100">广告位名称</th>
<th width="50">标识</th>
<th width="40">排序</th>
<th width="80">广告状态</th>
<th width="150">描述</th>
<th width="100">创建时间</th>
<th width="100">操作</th>
</tr>
</thead>

{volist name="list" id="vo"}
<tr>
<td><input type="checkbox" name="ids[]" value="{$vo.id}" class="layui-checkbox checkbox-ids" lay-skin="primary"></td>
<td>{$vo.id}</td>
<td>{$vo.typename}</td>
<td>{$vo.tag}</td>
<td>{$vo.sort}</td>
<td><input type="checkbox" name="status" {if condition="$vo['status'] eq 1"}checked{/if} value="{$vo['status']}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|关闭" data-href="{:url('ad_field?col=status&ids='.$vo['id'])}"></td>
<td>{$vo.description|htmlentities}</td>
<td>{$vo.create_time|mac_day=color}</td>
<td>
<a class="layui-badge-rim j-iframe" data-full="1" data-href="{:url('ad_info?id='.$vo['id'])}" href="javascript:;" title="编辑">编辑</a>
<a class="layui-badge-rim j-tr-del" data-href="{:url('ad_del?ids='.$vo['id'])}" href="javascript:;" title="删除">删除</a>
</td>
</tr>
{/volist}
</tbody>
</table>

<div id="pages" class="center"></div>

</form>
<iframe id="if" width="0" height="0"></iframe>
</div>
</div>
</div>
<script type="text/javascript">
layui.use('element', function(){
var element = layui.element;
element.on('nav(demo)', function(elem){
layer.msg(elem.text());
});
});
var curUrl="{:url('app/ad',$param)}";
layui.use(['laypage', 'layer'], function() {
var laypage = layui.laypage
, layer = layui.layer;

laypage.render({
elem: 'pages'
,count: {$total}
,limit: {$limit}
,curr: {$page}
,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
,jump: function(obj,first){
if(!first){
location.href = curUrl.replace('%7Bpage%7D',obj.curr).replace('%7Blimit%7D',obj.limit);
}
}
});

});
</script>
{include file="../../../application/admin/view/app/foot" /}
</body>
</html>