{include file="../../../application/admin/view/public/head" /}
<div class="page-container">
<div class="main-wrapper">
<div class="row">
<ul class="layui-nav">{$nav}</ul>
<form class="layui-form layui-form-pane" action="">
<div class="layui-tab">
<div class="layui-tab-content">
<div class="layui-tab-item layui-show">
<div class="layui-form-item">
<label class="layui-form-label">APP启动图：</label>
<div class="layui-input-inline w600">
<input type="text" name="app_setting[start_img]" placeholder="APP启动图图片地址或路径" value="{$config['app_setting']['start_img']}" class="layui-input upload-input">
</div>
<div class="layui-input-inline ">
<button type="button" class="layui-btn layui-upload" lay-data="{data:{thumb:0,thumb_class:'upload-thumb'}}" id="upload1">上传图片</button>
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">播放前广告地址：</label>
<div class="layui-input-block">
<input type="text" name="app_setting[before_play_url]" placeholder="播放前广告地址" value="{$config['app_setting']['before_play_url']}" class="layui-input">
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">播放前图片：</label>
<div class="layui-input-inline w600">
<input type="text" name="app_setting[before_play_img]" placeholder="播放前图片" value="{$config['app_setting']['before_play_img']}" class="layui-input upload-input">
</div>
<div class="layui-input-inline ">
<button type="button" class="layui-btn layui-upload" lay-data="{data:{thumb:0,thumb_class:'upload-thumb'}}" id="upload2">上传图片</button>
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">水印跳转地址：</label>
<div class="layui-input-block">
<input type="text" name="app_setting[water_url]" placeholder="水印跳转地址" value="{$config['app_setting']['water_url']}" class="layui-input">
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">水印图片：</label>
<div class="layui-input-inline w600">
<input type="text" name="app_setting[water_img]" placeholder="水印图片" value="{$config['app_setting']['water_img']}" class="layui-input upload-input">
</div>
<div class="layui-input-inline ">
<button type="button" class="layui-btn layui-upload" lay-data="{data:{thumb:0,thumb_class:'upload-thumb'}}" id="upload3">上传图片</button>
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">显示退出按钮：</label>
<div class="layui-input-inline">
<input type="radio" name="app_setting[has_logout]" value="0" title="隐藏" {if
condition="$config['app_setting']['has_logout'] neq 1" }checked {/if}>
<input type="radio" name="app_setting[has_logout]" value="1" title="显示" {if
condition="$config['app_setting']['has_logout'] eq 1" }checked {/if}>
</div>


</div>
</div>
</div>
<div class="layui-form-item center">
<div class="layui-input-block">
<button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit">保 存</button>
</div>
</div>
</div>

</form>
</div>
</div>
</div>
<script type="text/javascript">
layui.use(['element','upload'], function(){
var element = layui.element
, layer = layui.layer
, upload = layui.upload;

element.on('nav(demo)', function(elem){
layer.msg(elem.text());
});

upload.render({
elem: '.layui-upload'
,url: "{:url('upload/upload')}?flag=app"
,method: 'post'
,before: function(input) {
layer.msg('文件上传中...', {time:3000000});
},done: function(res, index, upload) {
var obj = this.item;
if (res.code == 0) {
layer.msg(res.msg);
return false;
}
layer.closeAll();
var input = $(obj).parent().parent().find('.upload-input');
if ($(obj).attr('lay-type') == 'image') {
input.siblings('img').attr('src', res.data.file).show();
}
input.val(res.data.file);

if(res.data.thumb_class !=''){
$('.'+ res.data.thumb_class).val(res.data.thumb[0].file);
}
}
});

$('.upload-input').hover(function (e){
var e = window.event || e;
var imgsrc = $(this).val();
if(imgsrc.trim()==""){ return; }
var left = e.clientX+document.body.scrollLeft+20;
var top = e.clientY+document.body.scrollTop+20;
$(".showpic").css({left:left,top:top,display:""});
if(imgsrc.indexOf('://')<0){ imgsrc = ROOT_PATH + '/' + imgsrc;	} else{ imgsrc = imgsrc.replace('mac:','http:'); }
$(".showpic_img").attr("src", imgsrc);
},function (e){
$(".showpic").css("display","none");
});
});
</script>
{include file="../../../application/admin/view/public/foot" /}
</body>
</html>